# =============================================================================
# @file    requirements-dev.txt
# @brief   Python dependencies for Waystation for development
# @created 2021-10-16
# @license Please see the file named LICENSE in the project directory
# @website https://github.com/caltechlibrary/waystation
# =============================================================================

linkify-it-py
myst-parser
sphinx-material
