# Python dependencies for Waystation for development.
#
# Copyright 2022-2024 California Institute of Technology.
# License: Modified BSD 3-clause – see file "LICENSE" in the project website.
# Website: https://github.com/caltechlibrary/waystation

linkify-it-py
myst-parser
sphinx-material
